{
  "datacenter": "alpha",
  "advertise_addr": "{{ server_ip }}",
  "client_addr": "0.0.0.0",
  "node_name": "{{ server_node_name }}",
  "server": true,
  "enable_debug": true,
  "skip_leave_on_interrupt": true,
  "rejoin_after_leave": true,
  "retry_interval": "30s",
  "bootstrap_expect": {{ consul_size }}
}
