{
  "datacenter": "alpha",
  "advertise_addr": "{{ server_ip }}",
  "client_addr": "0.0.0.0",
  "node_name": "{{ server_node_name }}",
  "server": true,
  "enable_debug": true,
  "retry_join": {{ other_consul_servers | to_json }}
}
